name: ci

on:
  push:

jobs:
  install-node:
    name: Install NodeJS
    runs-on: ubuntu-latest

    steps:
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

  check-blockchain-metadata:
    name: Check if metadata are in sync with blockchain
    needs: install-node
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Install substrate metadata explorer
        run: npm install -g @subsquid/substrate-metadata-explorer

      - name: Check metadata
        env:
          BLOCKCHAIN_NODE_RPC: ${{ secrets.BLOCKCHAIN_NODE_RPC }}
        run: squid-substrate-metadata-explorer --rpc $BLOCKCHAIN_NODE_RPC --out types.jsonl

      - name: Check if metadata requires update
        run: git diff --exit-code types.jsonl

  check-formatting:
    name: Execute linter and check formatting
    needs: install-node
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Install linter
        run: npm install -g --save-dev --save-exact prettier

      - name: Check formatting
        run: npx prettier . --write

      - name: Check if formatting requires update
        run: git diff --exit-code

  build-project:
    name: Build project and check associated generation steps
    needs: install-node
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Check node version
        run: node --version

      - name: Install sqd toolset
        run: npm install -g @subsquid/cli@latest

      - name: Install typeorm-codegen
        run: npm install @subsquid/typeorm-codegen --save-dev

      - name: Execute typegen
        run: sqd typegen

      - name: Check if sqd typegen needs to be executed locally
        run: git diff --exit-code src/types

      - name: Execute codegen
        run: sqd codegen

      - name: Check if sqd codegen needs to be executed locally
        run: git diff --exit-code src/model/generated

      - name: Start PostgreSQL database
        run: sqd up

      - name: Build project
        run: sqd build

      - name: Apply migrations
        run: sqd migration:apply

      # - name: Serve graphql
      #   uses: JarvusInnovations/background-action@v1
      #   with:
      #     run: sqd serve
      #     wait-on: http://localhost:4350/graphql

      # - name: Run blockchain local node
      #   uses: addnab/docker-run-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}
      #     image: bigshortbets/node:amd64
      #     options: -d
      #     run: frontier-template-node --dev --rpc-external --rpc-cors=all --rpc-methods=Safe --pruning=archive

      # - name: Run processor
      #   uses: JarvusInnovations/background-action@v1
      #   with:
      #     run: sqd process
      #     # Prometheus metrics
      #     wait-on: |
      #       tcp:localhost:3000
      #     wait-for: 1m
